label, option {
    font-size: 14px ;
    color: #3E4C60;
}

input, select {
    font-size: 14px !important;
}


#search{

    width: 50% !important;
    display: flex;
    position: relative;
    top: 100px;
}